.about{
    width: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
}
.about-heading{
    font-size: 30px;
    font-weight: 900;
    background-color: #303030;
    padding: 10px;
    text-align: center;
    z-index: 9;
}
.about-container{
    min-height: 76vh;
    padding: 50px 5vw 20px 5vw;
    margin: auto 0;
    display: flex;
    background-color: black;
    z-index: 9;
    margin: auto 0;
}
.about-left{
    display: flex;
    align-items: center;
}
.about-left-image{
    width: 30vw;
    margin-right: 30px;
}
.about-right{}
.about-title{
    font-weight: 600;
    margin-top: 20px;
}
.about-button-container{
    display: flex;
    justify-content: space-between;
    width: 200px;
    background-color: white;
    color: green;
    border-radius: 5px;
    margin: 20px;
}
.about-button-container div{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.about-button-card{
    color: green;
    text-decoration: none;
}
.about-active-button{
    color: white;
    background-color: green;
}

.about-me{
    margin-top: 50px;
}
.about-me div{
    display: grid;
    grid-template-columns: 150px auto;
    margin: 20px 0;
}
.about-education{
    margin-top: 50px;
}
.about-education p{
    display: grid;
    grid-template-columns: 150px 100px auto;
    margin: 20px 0;
}

@media screen and (max-width: 600px) {
    .about-container{
        min-height: 50vh;
        padding: 40px 5vw;
    }
    .about-left{
        display: none;
    }
}


@media screen and (max-width: 500px) {
    .about-me div{
        grid-template-columns: 120px auto;
        font-size: 13px;
    }
    .about-education p{
        grid-template-columns: 80px 80px auto;
        font-size: 13px;
    }
}