.blog{
    min-height: 30vh;
}

.blog-container{
    padding: 20px 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.blog-card{
    padding: 10px;
    border: 1px solid white;
}
.blog-card-image{
    width: 100%;
}

/* PAD */
@media screen and (max-width: 850px) {
    .blog-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .blog-card{
        width: 37vw;
    }
}

/* MOBILE */
@media screen and (max-width: 500px) {
    .blog-card{
        width: 100%;
    }
}