@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

/* font-family: 'Bungee Spice', sans-serif; */
.contact{
    width: calc(100vw-5vw);
    min-height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5vw;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 40px;
    border-radius: 20px;
}
.contact-image{
    width: 350px;
}
.inpute-filds{
    display: flex;
    flex-direction: column;
}
.contact-icon-textarea,
.contact-icon-input{
    display: flex;
    align-items: center;
    margin: 15px 0;
    background-color: white !important;
    color: black;
    border-bottom: 2px solid black;
}
.contact-input{
    width: 250px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
}
.contact-icon{
    font-size: 20px;
    padding: 0 10px;
}
.contact-textarea{
    width: 100%;
    height: 70px;
    padding: 10px;
    border: none;
}
.contact-page-submit{
    align-self: center;
    margin-top: 10px !important;
}
.contact-model{

}
.contact-model-thanks{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 50px;
    text-align: center;
}
.contact-tick-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-tick{
    width: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 50px 20px green;
    margin: 50px 0;
}
.contact-m-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
}
.text-success{
    color: green;
    font-weight: 700;
    font-size: 25px;
}

/* PAD */
@media screen and (max-width: 850px) {
.contact{
    min-height: 40vh;
}
.contact-container{
    padding: 30px 10px;
}
.contact-image{
    width: 200px;
}
.inpute-filds{
    display: flex;
    flex-direction: column;
}
.contact-icon-textarea,
.contact-icon-input{
    margin: 10px 0;
}
.contact-input{
    width: 150px;
    padding: 5px;
    font-size: 15px;
}
}

/* MOBILE */
@media screen and (max-width: 500px) {
.contact{
    min-height: 40vh;
}
.contact-container{
    background-color: black;
}
.contact-image{
    display: none;
}

.contact-icon-textarea,
.contact-icon-input{
    display: flex;
    align-items: center;
    margin: 15px 0;
    background-color: white !important;
    color: black;
    border: 2px solid black;
}
.contact-input{
    width: 70vw;
    padding: 10px;
    font-size: 17px;
}
}