.loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 150px;
    border-radius: 50%;
}
.loading div{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-top: 5px solid green;
    border-left: 5px solid green;
    animation: loader 1.2s infinite ease-in;
}

@keyframes loader {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(230deg);}
    100% {transform: rotate(360deg);}
}